*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
    max-height: 40vh;
    border-radius: 10px;
    overflow: auto;
}
h1{
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0 0 10px 0;
}

ul{
    align-self: flex-start;
    list-style-position: inside;
}

.input{
    margin: 10px;
    width: 50vw;
    display: flex;
}

input{
    font-size: 18px;
    margin: 0 5px 0 0;
    padding: 2px;
    width: 80%;
    background-color: rgba(114, 169, 214, 0.295);
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0 10px 0 grey;
}

button{
    padding: 5px;
    width: 20%;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 2px 2px 0 0 grey;
}

@media only screen and (max-width:768px){
    .list{
        width:70%;
    }
}
